.navbar{
    background: rgb(25, 25, 25);
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    max-width: 75rem;
    font-family: 'Poppins', sans-serif;
}

.logo {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
}

.desktopMenuListItem{
    margin: 2rem;
    transition: color 1s ease-out 10ms;
    text-decoration: none;
    color: white;
}

.desktopMenuListItem:hover {
    color: #ec751a;
    padding-bottom: 0.5rem;
    border-bottom: 4px solid;
}

.desktopMenuListItem::after{
    content: '';
    width: 0;
    height: 4px;
    background: #ec751a;
    transition: width .3s;
}

.desktopMenuListItem:hover::after{
    width: 100%;
}

.desktopMenuImg{
    object-fit: cover;
    height: 1.5rem;
    width: 1.5rem;
    margin: 1rem;
    color:#ec751a;
}

.desktopMenuBtn{
    background: rgb(50,50,50);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 3rem;
    font-family: 'Poppins', sans-serif;
}

.desktopMenuBtn:hover{
    color: #ec751a;
    transition-duration: 3ms;

}


.active{
    color:#ec751a;
    padding-bottom: 0.5rem;
    border-bottom: 4px solid;
}
